@model IEnumerable<Cook_Bookstore.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-controller="Book" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorFirst) @Html.DisplayFor(modelItem => item.Author.AuthorLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreType)
            </td>
            <td>
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
